siren {

 .option{
     float:right;
     margin: 3px;
        //overflow: hidden;
        i{
            height: 28px;
            width: 50px;
            padding: 5px;
            border-right: 1px solid #c0c3c6;
            }
        input{
            width: 35px;
            padding: 0;
            margin-left: 15px;
            }
     }
     .transparent{
        opacity: 0.8;
     }

     .success{
        position: absolute;
        margin-top: 34px;
        margin-left: 34px;
     }
     .fail{
        position: absolute;
        margin-top: 34px;
        margin-left: 23px;
     }
    .info{
        position: absolute;
        margin-top: 34px;
        margin-left: 16px;

     }
}