 <div class="option"> 
    <i class="fa"
        [class.fa-volume-up] = "!isMuted"
        [class.fa-volume-off] = "isMuted"
        (click)="OnClickMute()"
        aria-hidden="true"
        ></i>
    <input type="text" 
        class="drop-count" 
        [class.alert]="isNotAllowed"
        [value]="dropCount" 
        (change) = "OnChangeValidation($event)"
        />
</div>
<div class="alert alert-success" (show) = "handleSms($event)" hidden>
  <strong>Server fail!</strong><br> Message successfully sent to admin.
</div>