philgo-ping {
    //position: relative;
   display:block;
    margin:0, auto;
    padding:0;
    

   section{
    padding-bottom: 10px;
    margin: 0;
    background-color: #e6e6e6;
    .graph{
             width: 320px;
             text-align: center;
             overflow: hidden;
             padding-top:5px;
             padding-bottom: 5px;
            .title{
                margin-top:2px;
                margin-bottom:2px;
                overflow: hidden;
                span{
                    //display: inline-block;
                    font-size: 23px;
                    float: left;
                }
            
            }
            .bar{
              //  overflow: hidden
                padding:1px;
                border: 1px solid #c0c3c6;
                span{
                    float: left;
                }
                .success{
                    display: inline-block;
                    width:1px;
                    height:30px;
                    background-color:#009938;
                }
                .error{
                    display: inline-block;
                    width:1px;
                    height:30px;
                    background-color:#b30000;
                }
        }

    } 
  }            
}             
              
              


